/* remove resize bar while in betterlibrary */
.Root__top-container:has(.betterLibBox) .LayoutResizer__resize-bar {
    visibility: hidden;
}

/* creates the centered placeholder text on the sidebar where the library was */
.betterLibText {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* makes the text visible only when it is in the sidebar */
.main-yourLibraryX-library .betterLibText {
    display: var(--betterlib-show-placeholder-text,flex);
}

/* makes the "your library" text not clickable */
.Button-sc-1dqy6lx-0.Button-md-24-buttonTertiary-iconLeading-condensed-useBrowserDefaultFocusStyle.main-yourLibraryX-collapseButtonWrapper.main-yourLibraryX-button.main-useDropTarget-base,
.Button-sc-1dqy6lx-0.Button-md-24-buttonTertiary-iconLeading-condensed-useBrowserDefaultFocusStyle.main-yourLibraryX-collapseButtonWrapper.main-yourLibraryX-button.main-useDropTarget-base.main-useDropTarget-track.main-useDropTarget-album.main-useDropTarget-artist.main-useDropTarget-playlistV2.main-useDropTarget-show.main-useDropTarget-episode
{
    pointer-events: none;
    font-size: x-large;
    color: white;
}

/* hides the library header when in the sidebar*/
.main-yourLibraryX-library .main-yourLibraryX-header {
    display: none;
}

/* shows the header if the user is in a folder*/
.main-yourLibraryX-library .main-yourLibraryX-header:has(.WYU7SXdABSulyirnmIYb) {
    display: flex;
}

/* hides collapse button */
.IconWrapper__Wrapper-sc-16usrgb-0.Wrapper-md-leading {
    display: none;
}

/* hides collapse button in folder*/
.Button-sc-1dqy6lx-0.Button-md-24-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle.main-yourLibraryX-collapseButtonWrapper.main-yourLibraryX-button.main-useDropTarget-base
{
    display: none;
}

/* hides expand/reduce button (and also add and more) */
button.Button-sc-1dqy6lx-0.Button-sm-16-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle.main-yourLibraryX-button.main-yourLibraryX-iconOnly.main-useDropTarget-base {
    display: none;
}

/* shows add */
button.Button-sc-1dqy6lx-0.Button-sm-16-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle.main-yourLibraryX-createButton.main-yourLibraryX-button.main-yourLibraryX-iconOnly.main-useDropTarget-base.main-useDropTarget-track.main-useDropTarget-album.main-useDropTarget-playlistV2 {
    display: inherit;
}

/* shows more */
span button.Button-sc-1dqy6lx-0.Button-sm-16-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle.main-yourLibraryX-button.main-yourLibraryX-iconOnly.main-useDropTarget-base {
    display: inherit;
}

/* add more padding to the sidebar */
.main-yourLibraryX-library {
    padding-top: 5px;
}

/* fixes icons on collapsed betterlibrary */
span.Type__TypeElement-sc-goli3j-0.TypeElement-balladBold-type {
    display: var(--betterlib-fix-collaped-view,inherit);
}

/* for future setting */
.main-yourLibraryX-entryPoints.main-yourLibraryX-library {
    display: var(--betterlib-hide-sidebar-library,inherit);
}